@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 93, 64, 55;
    --background-start-rgb: 245, 230, 211;
    --background-end-rgb: 245, 230, 211;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}
